Project/.idea/gradle.xml
Project/.idea/vcs.xml
Project/app/app.iml
Project/Project.iml
Project/.idea/inspectionProfiles/Project_Default.xml
Project/.idea/inspectionProfiles/profiles_settings.xml
Project/.idea/misc.xml